<!-- src/main/resources/templates/signup.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/styles.css">
	<div th:replace="~{_header}"></div>
</head>
<body>
	<h1>Signup</h1>
    <form action="/signup" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required placeholder="Enter username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Enter password" />
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
